O365
PyPDF2
aiofiles
alembic
chromadb
deep_translator
docx2txt
faiss-cpu
fastapi
fitz
httpx
janome
langchain
langchain-community
langchain-core
langchain-openai
langdetect
numpy
openai
openpyxl
pandas
pyarrow
pdf2image
pdfplumber
pip>=23
pydantic
pydantic-settings
pymupdf
pypdf
pytesseract
python-docx
python-dotenv
python-multipart
python-pptx
requests
sentence_transformers
setuptools>=65
sqlalchemy
torch
transformers
typing-extensions
uvicorn[standard]
wheel
cryptography
